<nav class="navbar bg-primary">
    <ul class="nav">
      <li class="nav-item nav-link nav__color" id="main__link">MAIN
        <!-- <a class="<%= path === '/' ? 'nav-link nav__color active nav__active' : 'nav-link nav__color' %>" href="">Main</a> -->
      </li>
      <li class="nav-item nav-link nav__color">USERS
        <!-- <a class="<%= path === '/users' ? 'nav-link nav__color active nav__active' : 'nav-link nav__color' %>" href="">Users</a> -->
      </li>
      
    </ul>
  </nav>

