<nav class="navbar bg-primary">
    <ul class="nav">
      <li class="nav-item">
        <a class="<%= path === '/' ? 'nav-link nav__color active nav__active' : 'nav-link nav__color' %>" href="/">Main</a>
      </li>
      <li class="nav-item">
        <a class="<%= path === '/users' ? 'nav-link nav__color active nav__active' : 'nav-link nav__color' %>" href="/users">Users</a>
      </li>
    </ul>
  </nav>

